{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'website/custom.css' %}">
<div class="container">
    <div class="loginbackground">
        <center>
            <h5>Password Reset</h5>
        </center>
        <div class="form-area">
            <form method="post">
                {% csrf_token %}
                {% if form.errors %}

                <center><span class="error mt-3 mb-3">{{form.errors}}</span></center>
                {% endif %}
                {% csrf_token %}
                {{form.new_password1.label_tag}}
                {{form.new_password1}}
                {{form.new_password2.label_tag}}
                {{form.new_password2}}
                <span class="btn-border w-100 mt-5 mb-3">
                    <button class="cmn-btn w-100">Sign up</button>
                </span>
            </form>
        </div>
    </div>
</div>
<script>

</script>
{% endblock %}