{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'website/custom.css' %}">
<div class="container">
    <div class="loginbackground">
        <center>
            <h5>Password Reset Done</h5>
        </center>
        <div class="form-area">
            <center>
                <p>
                    Your password has been set. You may go ahead and <a href="{% url 'login' %}" style="color: yellow; text-decoration: underline;">Log in</a>
                </p>
            </center>
        </div>
    </div>
</div>
{% endblock %}