{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'website/custom.css' %}">
<div class="container">
    <div class="loginbackground">
        <div class="form-area">
            <form method="post">
                {% csrf_token %}
                <center>
                    <p>
                        Forgotten your password? Enter your email address below, and we'll email
                        instructions for setting a new one.
                    </p>
                </center>
                <br>
                {{form.as_p}}
                <span class="btn-border w-100 mt-5 mb-3">
                    <button class="cmn-btn w-100">Sign up</button>
                </span>
            </form>
        </div>
    </div>
</div>
{% endblock %}