{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'website/custom.css' %}">
<div class="container">
    <div class="loginbackground">
        <div class="form-area">
            <center>
                <p>
                    we've emailed you instructions for setting a new password, if an account exits with the email you
                    entered.
                    You should receive them shortly, if you don't receive an email, please make sure you've entered the
                    address
                    you register with, or check your spam folder on your mail
                </p>
            </center>
        </div>
    </div>
</div>
{% endblock %}