{% extends 'base.html' %}
{% load static %}
{% block body %}
<section class="banner-section inner-banner affiliate">
    <div class="overlay">
        <div class="shape-area">
            <img src="{% static 'assets/images/affiliate-banner.png' %}" class="affiliate-illu" alt="image">
        </div>
        <div class="banner-content">
            <div class="container">
                <div class="content-shape">
                    <img src="{% static 'assets/images/sell-hero-illus.png' %}" class="obj-8" alt="image">
                </div>
                <div class="row">
                    <div class="col-lg-9 col-md-10">
                        <div class="main-content">
                            <h1>Affiliate</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Affiliate</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section end -->

<!-- Bitbetio Affiliates In start -->
<section class="bitbetio-affiliates">
    <div class="overlay pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 order-lg-0 order-1">
                    <div class="img-area d-rtl">
                        <img src="{% static 'assets/images/affiliates-illus.png' %}" class="max-un" alt="image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-header">
                        <h5 class="sub-title">Grow your Income With Bitvetio</h5>
                        <h2 class="title">Earn more with Bitbetio Referral Program</h2>
                        <p>The most advanced and rewarding Bitcoin affiliate program on the market. It's time to
                            start your profitable cooperation with a trusted and licensed partner.
                            With up to 45% revenue share deal on offer, you will get the best tool to monetize your
                            gambling traffic.</p>
                        <ul>
                            <li>Generous commissions & fast payouts</li>
                            <li>The fee commission will be sent instantly in real-time</li>
                            <li>There is no limit to the number of friends you can refer</li>
                            <li>Each referee must be signed up through your Referral Link, QR Code or Referral ID.
                            </li>
                        </ul>
                    </div>
                    <span class="btn-border">
                        <button type="button" class="cmn-btn reg">
                            <a href="{% url 'register' %}">Join Now</a>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Bitbetio Affiliates In end -->

<!-- Features Section In start -->
<section class="features-section">
    <div class="overlay pb-120">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="section-header">
                        <h5 class="sub-title">Grow your Income With Bitvetio</h5>
                        <h2 class="title">Why you should sign up to the Bitbetio Affiliate Program</h2>
                        <p>Earning is easy when you’re promoting bitbetio. Become an affiliate today!</p>
                    </div>
                    <div class="row cus-mar">
                        <div class="col-sm-6">
                            <div class="single-area text-center">
                                <div class="img-area">
                                    <img src="{% static 'assets/images/icon/features-icon-1.png' %}" alt="image">
                                </div>
                                <h5>Flexible Commission</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single-area text-center">
                                <div class="img-area">
                                    <img src="{% static 'assets/images/icon/features-icon-2.png' %}" alt="image">
                                </div>
                                <h5>Unlimited Payouts</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single-area text-center">
                                <div class="img-area">
                                    <img src="{% static 'assets/images/icon/features-icon-3.png' %}" alt="image">
                                </div>
                                <h5>Real-time Stats</h5>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single-area text-center">
                                <div class="img-area">
                                    <img src="{% static 'assets/images/icon/features-icon-4.png' %}" alt="image">
                                </div>
                                <h5>Rewards as a top affiliate</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="section-img-area">
                        <img src="{% static 'assets/images/features-illus.png' %}" class="max-un" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section In end -->

<!-- How it Works start -->
<section class="how-it-works affiliates">
    <div class="overlay pt-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Earn as our affilliate</h5>
                        <h2 class="title">Be our Affiliate!</h2>
                        <p>Join the program and gain up to 50% revshare! Earn as your referrals start playing!</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="single-area text-center">
                                <div class="img-area">
                                    <img src="{% static 'assets/images/icon/how-works-icon-6.png' %}" alt="image">
                                </div>
                                <h4>1.Join us!</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-area text-center">
                                <div class="img-area">
                                    <img src="{% static 'assets/images/icon/how-works-icon-7.png' %}" alt="image">
                                </div>
                                <h4>2.Start Inviting!</h4>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-area text-center">
                                <div class="img-area">
                                    <img src="{% static 'assets/images/icon/how-works-icon-8.png' %}" alt="image">
                                </div>
                                <h4>3.Get Paid</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="magnific-area d-flex align-items-center justify-content-center">
                            <div class="bg-area">
                                <img class="bg-item" src="{% static 'assets/images/video-bg.png' %}" alt="icon">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How it Works end -->
{% endblock %}