{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'website/custom.css' %}">
<div class="container-fluid">
    <div class="successimg">
        <img src="{% static 'assets/images/success.gif' %}" alt="" id="successimg">
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <span id="result"></span>
        <div class="col-lg-3 d-none d-lg-block ">
            <img src="{% static 'assets\images\soccer-bets-bg.png' %}" height="200px" alt="unable to load image">
        </div>
        
        <div class="col-lg-6">
            <div class="mb-3"><span class="span1"><a href="{% url 'gamehistory' %}">History</a></span> <span class="span2"><a href="{% url 'resulthistory' %}">Results</a></span></div>
            <div class="row" id="gamebg">
                
            </div>
        </div>
        <div class="col-lg-3 d-none d-lg-block    ">
            <img src="{% static 'assets\images\soccer-bets-bg.png' %}" height="200px" alt="unable to load image">
        </div>


    </div>
</div>


<script src="{% static 'assets/js/sweetalert.min.js' %}"></script>
<script src="{% static 'website/custom.js' %}"></script>
{% endblock %}