{% extends 'base.html'%}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'website/custom.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/jquery-ui.css' %}">


<section class="dashboard-content pt-120">
    <div class="overlay">
        <div class="dashboard-heading">
            <div class="container">
                <div class="row justify-content-lg-end justify-content-between">
                    <div class="col-xl-9 col-lg-12">
                        <ul class="nav" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                    data-bs-target="#dashboard" type="button" role="tab" aria-controls="dashboard"
                                    aria-selected="true">dashboard</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="{% url 'payment' %}"><button class="nav-link" id="deposit-tab" type="button"
                                        aria-selected="false">deposit</button></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="withdraw-tab" data-bs-toggle="tab"
                                    data-bs-target="#withdraw" type="button" role="tab" aria-controls="withdraw"
                                    aria-selected="false">withdraw</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="affiliate-tab" data-bs-toggle="tab"
                                    data-bs-target="#affiliate" type="button" role="tab" aria-controls="affiliate"
                                    aria-selected="false">affiliate</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a href="{% url 'history' %}"><button class="nav-link" id="deposit-tab" type="button"
                                        aria-selected="false">Transactions</button></a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="setting-tab" data-bs-toggle="tab" data-bs-target="#setting"
                                    type="button" role="tab" aria-controls="setting"
                                    aria-selected="false">settings</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container ">
    <form method="get">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-xl-5">
                <p>Start: </p>
                {{filter.form.start_date}}
            </div>
            <div class="col-xl-5 col-xl-5">
                <p>End: </p>
                {{filter.form.end_date}}
            </div>
            <div class="col-xl-2 col-xl-2">
                <span class="btn-border w-80 mt-4">
                    <button class="cmn-btn w-80 text-light" id="search">Search</button>
                </span>
            </div>
        </div>
    </form>

</div>
<div class="container">
    <section class="dashboard-content pb-4">
        <div class="col-xl-12 col-lg-12">
            <div class="tab-content ">
                <div class="row">

                    <div class="row">
                        <div class="col-12">
                            <h5 class="title">Recent Activity</h5>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date/Time</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for histories in history %}
                                        <tr>
                                            <th scope="row">{{histories.date_created}}</th>
                                            <td>{{histories.transaction}}</td>
                                            {% if histories.confirm %}
                                            <td style="color: green;">successful</td>
                                            {% else %}
                                            <td style="color:red ;">failed</td>
                                            {% endif %}
                                            <td>{{histories.amount}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>




<script>
    $("#id_start_date , #id_end_date").datepicker({
        changeYear: true,
        changeMonth: true,
        dateFormat: 'yy-mm-dd'
    });
</script>
<script>
    $(document).ready(function () {
        /*$("#search").on('click', function(e){
            e.preventDefault()
            $.ajax({
            type: "GET",
            url: "/history/",
            success: function (response) {
                console.log(response)
            },
            error: function (error) {
                console.log(error)
            }
        })*/
    })
</script>
{% endblock %}